<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="lorem ipsum" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Title</title>
  </head>

  <body>
    <div class="app">
      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <h1 class="h1">Заголовок</h1>
          </div>
        </div>
        <div class="row">
          <div class="col order-0"></div>
          <div class="col order-1"></div>
          <div class="col order-2"></div>
        </div>
        <div class="row">
          <div class="col-4">
            <button type="button" class="btn btn-warning">Кнопка&nbsp;1</button>
          </div>
          <div class="col-8">
            <button type="button" class="btn btn-success">Кнопка&nbsp;2</button>
          </div>
        </div>
      </div>

      <form class="form">
        <div class="container mt-5">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <select class="custom-select text-truncate mb-1" name="select-1">
                  <option selected>Выберите число</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="col">
                <select class="custom-select text-truncate mb-1" name="select-2">
                  <option selected>Выберите число</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="col">
                <select class="custom-select text-truncate mb-1" name="select-3">
                  <option selected>Выберите число</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="col">
                <select class="custom-select text-truncate mb-1" name="select-4">
                  <option selected>Выберите число</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="col">
                <select class="custom-select text-truncate mb-1" name="select-5">
                  <option selected>Выберите число</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Ваш email" autofocus />
          </div>
          <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Ваш пароль" />
          </div>
          <button type="submit" class="btn btn-primary">Отправить</button>
      </form>

    <div class="form__data mt-3 p-3 d-none" name="form-data">
    </div>
    </div>

    <div class="modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Привет, мир</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
