<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="lorem ipsum" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Title</title>
  </head>

  <body>
    <div class="app">
      <div class="container mt-5 vw-100">
        <div class="row">
          <div class="col">
            <h1 class="h1">Заголовок</h1>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col-4">
            <button type="button" class="btn btn-warning">Кнопка&nbsp;1</button>
          </div>
          <div class="col-8">
            <button type="button" class="btn btn-success">Кнопка&nbsp;2</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
